In [1]:
import os
import pandas as pd, numpy as np

In [ ]:
!pwd

In [2]:
from listing_parsers import active_listing_parser, closed_listing_parser

## Test out closed parser

In [ ]:
df = pd.read_csv('../../bat-2020-data/bat_results_output_2020-10-27_22-59-02.csv')

In [ ]:
df.head()

In [ ]:
closed_listing_parser(df.loc[0, 'link'])

In [3]:
import numpy as np
import time

In [ ]:
random_number = np.abs(np.random.normal())*10

In [ ]:
random_number

In [ ]:
df.loc[:10,'link']

In [ ]:
closed_listings_list = list()
for url in df.loc[:10,'link']:
    dict_ = closed_listing_parser(url)
    dict_['url'] = url
    random_number = np.abs(np.random.normal())*10
    time.sleep(random_number)
    closed_listings_list.append(dict_)

In [ ]:
closed_listings_list

In [ ]:
df2 = pd.DataFrame(closed_listings_list)

In [ ]:
df2.head()

In [ ]:
help(pd.DataFrame.merge)

In [ ]:
df.merge(df2,how='inner',left_on='link',right_on='url')

## Test out active parser

In [4]:
active_df = pd.read_csv('/home/ubuntu/projects/bat-2020-data/bat_listings_output_2021-06-13_03-31-21.csv')

In [ ]:
active_df.head()

In [5]:
import time, numpy as np
active_listings_list = list()
for url in active_df.loc[11:17,'listing_link']:
    dict_ = active_listing_parser(url)
    dict_['url'] = url
    random_number = np.abs(np.random.normal())*10
    time.sleep(random_number)
    active_listings_list.append(dict_)

In [6]:
dict_

{'Current Bid': 'USD $8,600  by Select23',
 'Ends On': 'Sunday, June 13 at 12:30pm PT',
 'Bids': '9',
 'listing_scrape_ts': datetime.datetime(2021, 6, 13, 11, 16, 5, 650777),
 'Views': '6551',
 'Watchers': '404',
 'url': 'https://bringatrailer.com/listing/1991-toyota-4x4-pickup-20/'}

In [ ]:
active_listings_list

In [7]:
active_df_2 = pd.DataFrame(active_listings_list)

In [ ]:
active_df_2.head()

In [8]:
active_df.merge(active_df_2,how='inner',left_on='listing_link',right_on='url')

,uid,listing_title,listing_excerpt,listing_link,latest_bid,year,make,model,category,keyword,...,longitude,scrape_ts,fid,Current Bid,Ends On,Bids,listing_scrape_ts,Views,Watchers,url
0,28637328,Modified 1971 Chevrolet K10 4×4,This 1971 Chevrolet K10 is a short-bed 4×4 pic...,https://bringatrailer.com/listing/1971-chevrol...,40000,1971.0,Chevrolet,K10 shortbed 4x4 pickup,"['American', 'Truck & 4x4']",['Chevrolet Pickup'],...,-110.9230,2021-06-13 03:31:21,12_1623555081,"USD $41,000 by CDrestore","Sunday, June 13 at 11:55am PT",17,2021-06-13 11:15:13.651489,5472,532,https://bringatrailer.com/listing/1971-chevrol...
1,29768518,1970 Ford Mustang Mach 1 428 Cobra Jet 4-Speed,This 1970 Ford Mustang Mach 1 was produced on ...,https://bringatrailer.com/listing/1970-ford-mu...,67428,1970.0,Ford,428 Cobra Jet Mach 1 4 speed,['American'],['Ford Mustang 1969-1973'],...,-73.5976,2021-06-13 03:31:21,13_1623555081,"USD $67,428 by diamant_schwarz30","Sunday, June 13 at 12:00pm PT",11,2021-06-13 11:15:27.077755,16918,1234,https://bringatrailer.com/listing/1970-ford-mu...
2,28856703,No Reserve: 1974 Alfa Romeo GTV 2000,This 1974 Alfa Romeo GTV 2000 is powered by a ...,https://bringatrailer.com/listing/1974-alfa-ro...,28750,1974.0,Alfa Romeo,GTV 2000,['Italian'],['Alfa Romeo 105/115 Series Coupe'],...,-83.0276,2021-06-13 03:31:21,14_1623555081,"USD $29,000 by laserguru","Sunday, June 13 at 12:05pm PT",17,2021-06-13 11:15:43.944906,11076,1172,https://bringatrailer.com/listing/1974-alfa-ro...
3,22232204,1971 Porsche 911E Coupe,This 1971 Porsche 911E coupe is finished in re...,https://bringatrailer.com/listing/1970-porsche...,12500,1970.0,Porsche,911E,['German'],['Porsche Longhood 911'],...,-84.0786,2021-06-13 03:31:21,15_1623555081,"USD $14,000 by spikael75","Sunday, June 13 at 12:10pm PT",29,2021-06-13 11:15:51.368217,9872,859,https://bringatrailer.com/listing/1970-porsche...
4,28220965,7k-Mile 2011 Audi R8 V10 Spyder 6-Speed,This 2011 Audi R8 V10 Spyder was originally so...,https://bringatrailer.com/listing/2011-audi-r8...,101500,2011.0,Audi,R8,"['Convertibles', 'German']",['Audi R8'],...,-79.7920,2021-06-13 03:31:21,16_1623555081,"USD $101,500 by Snaveed","Sunday, June 13 at 12:20pm PT",13,2021-06-13 11:15:51.705501,13810,917,https://bringatrailer.com/listing/2011-audi-r8...
5,28334176,1958 Jaguar XK150 3.4 FHC,This 1958 Jaguar XK150 fixed-head coupe was bu...,https://bringatrailer.com/listing/1958-jaguar-...,45000,1958.0,Jaguar,XK150 Fixed Head Coupe,['British'],['Jaguar XK150'],...,-96.8129,2021-06-13 03:31:21,17_1623555081,"USD $50,000 by 1931Bentley","Sunday, June 13 at 12:25pm PT",9,2021-06-13 11:15:56.691493,7431,758,https://bringatrailer.com/listing/1958-jaguar-...
6,28559128,1991 Toyota 4×4 Pickup 5-Speed,This 1991 Toyota 4×4 Pickup is an extended-cab...,https://bringatrailer.com/listing/1991-toyota-...,8500,1991.0,Toyota,4x4 Pickup,"['Japanese', 'Truck & 4x4']",['Toyota Pickup'],...,-90.5312,2021-06-13 03:31:21,18_1623555081,"USD $8,600 by Select23","Sunday, June 13 at 12:30pm PT",9,2021-06-13 11:16:05.650777,6551,404,https://bringatrailer.com/listing/1991-toyota-...

In [ ]:
from datetime import datetime
datetime.now()

In [ ]:
active_df_2.columns