In [4]:
import os

In [10]:
!pwd

/home/andy/projects/bat-2020/code

In [3]:
from listing_parsers import active_listing_parser, closed_listing_parser

In [51]:
df = pd.read_csv('../../bat-2020-data/bat_results_output_2020-10-27_22-59-02.csv')

In [13]:
df.head()

,Unnamed: 0,title,result,link
0,0,1957 Cadillac Eldorado Brougham,"\n Sold for $123,000 on 10/26/20 ...",https://bringatrailer.com/listing/1957-cadilla...
1,1,19k-Mile 2000 Acura NSX-T 6-Speed,"\n Sold for $135,000 on 10/23/20 ...",https://bringatrailer.com/listing/2000-acura-n...
2,2,"4,800-Mile 1992 Porsche 911 Carrera Cup USA","\n Sold for $335,000 on 10/23/20 ...",https://bringatrailer.com/listing/1992-porsche...
3,3,No Reserve: 39-Mile 1985 Volkswagen Cabriolet ...,"\n Sold for $70,000 on 10/22/20 ...",https://bringatrailer.com/listing/1985-volkswa...
4,4,No Reserve: 1969 Subaru 360 Sedan Deluxe,"\n Sold for $50,000 on 10/19/20 ...",https://bringatrailer.com/listing/1969-subaru-...

In [15]:
closed_listing_parser(df.loc[0, 'link'])

{'Winning Bid': 'USD $123,000',
 'Auction Ended': 'October 26, 2020 at 12:46PM PT',
 'Bids': '70',
 'Winner': 'MMurgado',
 'Views': '27069',
 'Watchers': '957'}

In [42]:
import numpy as np
import time

In [37]:
random_number = np.abs(np.random.normal())*10

In [38]:
random_number

9.961793667756071

In [40]:
df.loc[:10,'link']

0     https://bringatrailer.com/listing/1957-cadilla...
1     https://bringatrailer.com/listing/2000-acura-n...
2     https://bringatrailer.com/listing/1992-porsche...
3     https://bringatrailer.com/listing/1985-volkswa...
4     https://bringatrailer.com/listing/1969-subaru-...
5     https://bringatrailer.com/listing/1989-lamborg...
6     https://bringatrailer.com/listing/1973-ferrari...
7     https://bringatrailer.com/listing/1970-datsun-...
8     https://bringatrailer.com/listing/1991-ford-br...
9     https://bringatrailer.com/listing/1971-chevrol...
10    https://bringatrailer.com/listing/1985-chevrol...
Name: link, dtype: object

In [45]:
closed_listings_list = list()
for url in df.loc[:10,'link']:
    dict_ = closed_listing_parser(url)
    dict_['url'] = url
    random_number = np.abs(np.random.normal())*10
    time.sleep(random_number)
    closed_listings_list.append(dict_)

In [46]:
closed_listings_list

[{'Winning Bid': 'USD $123,000',
  'Auction Ended': 'October 26, 2020 at 12:46PM PT',
  'Bids': '70',
  'Winner': 'MMurgado',
  'Views': '27069',
  'Watchers': '957',
  'url': 'https://bringatrailer.com/listing/1957-cadillac-eldorado-brougham-2/'},
 {'Winning Bid': 'USD $135,000',
  'Auction Ended': 'October 23, 2020 at 2:42PM PT',
  'Bids': '27',
  'Winner': 'pwest',
  'Views': '21093',
  'Watchers': '1057',
  'url': 'https://bringatrailer.com/listing/2000-acura-nsx-10/'},
 {'Winning Bid': 'USD $335,000',
  'Auction Ended': 'October 23, 2020 at 11:23AM PT',
  'Bids': '68',
  'Winner': 'joehayes',
  'Views': '64109',
  'Watchers': '2114',
  'url': 'https://bringatrailer.com/listing/1992-porsche-carrera-cup-usa/'},
 {'Winning Bid': 'USD $70,000',
  'Auction Ended': 'October 22, 2020 at 1:42PM PT',
  'Bids': '65',
  'Winner': 'Mouse13',
  'Views': '49129',
  'Watchers': '886',
  'url': 'https://bringatrailer.com/listing/1985-volkswagen-cabriolet-9/'},
 {'Winning Bid': 'USD $50,000',
  'Auction Ended': 'October 19, 2020 at 12:31PM PT',
  'Bids': '51',
  'Winner': 'ebj',
  'Views': '21447',
  'Watchers': '633',
  'url': 'https://bringatrailer.com/listing/1969-subaru-360-sedan-deluxe/'},
 {'Winning Bid': 'USD $285,000',
  'Auction Ended': 'October 19, 2020 at 11:00AM PT',
  'Bids': '24',
  'Winner': 'Tonlok74',
  'Views': '102650',
  'Watchers': '2604',
  'url': 'https://bringatrailer.com/listing/1989-lamborghini-lm002/'},
 {'Winning Bid': 'USD $406,000',
  'Auction Ended': 'October 15, 2020 at 11:19AM PT',
  'Bids': '47',
  'Winner': 'bretfelix',
  'Views': '62549',
  'Watchers': '2473',
  'url': 'https://bringatrailer.com/listing/1973-ferrari-246-dino-gts/'},
 {'Winning Bid': 'USD $112,000',
  'Auction Ended': 'October 9, 2020 at 12:23PM PT',
  'Bids': '34',
  'Winner': 'carco',
  'Views': '29627',
  'Watchers': '903',
  'url': 'https://bringatrailer.com/listing/1970-datsun-240z-65/'},
 {'Winning Bid': 'USD $90,000',
  'Auction Ended': 'October 7, 2020 at 11:29AM PT',
  'Bids': '39',
  'Winner': 'ccraigtn',
  'Views': '80050',
  'Watchers': '1151',
  'url': 'https://bringatrailer.com/listing/1991-ford-bronco-xlt-2/'},
 {'Winning Bid': 'USD $159,000',
  'Auction Ended': 'October 5, 2020 at 2:46PM PT',
  'Bids': '51',
  'Winner': 'cobra8852',
  'Views': '20842',
  'Watchers': '893',
  'url': 'https://bringatrailer.com/listing/1971-chevrolet-corvette-38/'},
 {'Winning Bid': 'USD $75,000',
  'Auction Ended': 'October 2, 2020 at 1:31PM PT',
  'Bids': '65',
  'Winner': 'RoyMMotors',
  'Views': '17151',
  'Watchers': '591',
  'url': 'https://bringatrailer.com/listing/1985-chevrolet-k10-silverado/'}]

In [52]:
df2 = pd.DataFrame(closed_listings_list)

In [53]:
df2.head()

,Winning Bid,Auction Ended,Bids,Winner,Views,Watchers,url
0,"USD $123,000","October 26, 2020 at 12:46PM PT",70,MMurgado,27069,957,https://bringatrailer.com/listing/1957-cadilla...
1,"USD $135,000","October 23, 2020 at 2:42PM PT",27,pwest,21093,1057,https://bringatrailer.com/listing/2000-acura-n...
2,"USD $335,000","October 23, 2020 at 11:23AM PT",68,joehayes,64109,2114,https://bringatrailer.com/listing/1992-porsche...
3,"USD $70,000","October 22, 2020 at 1:42PM PT",65,Mouse13,49129,886,https://bringatrailer.com/listing/1985-volkswa...
4,"USD $50,000","October 19, 2020 at 12:31PM PT",51,ebj,21447,633,https://bringatrailer.com/listing/1969-subaru-...

In [54]:
help(pd.DataFrame.merge)

Help on function merge in module pandas.core.frame:

merge(self, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None) -> 'DataFrame'
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

In [55]:
df.merge(df2,how='inner',left_on='link',right_on='url')

,Unnamed: 0,title,result,link,Winning Bid,Auction Ended,Bids,Winner,Views,Watchers,url
0,0,1957 Cadillac Eldorado Brougham,"\n Sold for $123,000 on 10/26/20 ...",https://bringatrailer.com/listing/1957-cadilla...,"USD $123,000","October 26, 2020 at 12:46PM PT",70,MMurgado,27069,957,https://bringatrailer.com/listing/1957-cadilla...
1,1,19k-Mile 2000 Acura NSX-T 6-Speed,"\n Sold for $135,000 on 10/23/20 ...",https://bringatrailer.com/listing/2000-acura-n...,"USD $135,000","October 23, 2020 at 2:42PM PT",27,pwest,21093,1057,https://bringatrailer.com/listing/2000-acura-n...
2,2,"4,800-Mile 1992 Porsche 911 Carrera Cup USA","\n Sold for $335,000 on 10/23/20 ...",https://bringatrailer.com/listing/1992-porsche...,"USD $335,000","October 23, 2020 at 11:23AM PT",68,joehayes,64109,2114,https://bringatrailer.com/listing/1992-porsche...
3,3,No Reserve: 39-Mile 1985 Volkswagen Cabriolet ...,"\n Sold for $70,000 on 10/22/20 ...",https://bringatrailer.com/listing/1985-volkswa...,"USD $70,000","October 22, 2020 at 1:42PM PT",65,Mouse13,49129,886,https://bringatrailer.com/listing/1985-volkswa...
4,4,No Reserve: 1969 Subaru 360 Sedan Deluxe,"\n Sold for $50,000 on 10/19/20 ...",https://bringatrailer.com/listing/1969-subaru-...,"USD $50,000","October 19, 2020 at 12:31PM PT",51,ebj,21447,633,https://bringatrailer.com/listing/1969-subaru-...
5,5,4k-Kilometer 1989 Lamborghini LM002,"\n Sold for $285,000 on 10/19/20 ...",https://bringatrailer.com/listing/1989-lamborg...,"USD $285,000","October 19, 2020 at 11:00AM PT",24,Tonlok74,102650,2604,https://bringatrailer.com/listing/1989-lamborg...
6,6,Single-Family-Owned 1973 Ferrari Dino 246 GTS,"\n Sold for $406,000 on 10/15/20 ...",https://bringatrailer.com/listing/1973-ferrari...,"USD $406,000","October 15, 2020 at 11:19AM PT",47,bretfelix,62549,2473,https://bringatrailer.com/listing/1973-ferrari...
7,7,No Reserve: 1970 Datsun 240Z Series I,"\n Sold for $112,000 on 10/9/20 ...",https://bringatrailer.com/listing/1970-datsun-...,"USD $112,000","October 9, 2020 at 12:23PM PT",34,carco,29627,903,https://bringatrailer.com/listing/1970-datsun-...
8,8,29-Mile 1991 Ford Bronco XLT 4×4 5-Speed,"\n Sold for $90,000 on 10/7/20",https://bringatrailer.com/listing/1991-ford-br...,"USD $90,000","October 7, 2020 at 11:29AM PT",39,ccraigtn,80050,1151,https://bringatrailer.com/listing/1991-ford-br...
9,9,1971 Chevrolet Corvette Coupe LS6 454/425 4-Speed,"\n Sold for $159,000 on 10/5/20 ...",https://bringatrailer.com/listing/1971-chevrol...,"USD $159,000","October 5, 2020 at 2:46PM PT",51,cobra8852,20842,893,https://bringatrailer.com/listing/1971-chevrol...
10,10,1985 Chevrolet K10 Silverado 4×4,"\n Sold for $75,000 on 10/2/20",https://bringatrailer.com/listing/1985-chevrol...,"USD $75,000","October 2, 2020 at 1:31PM PT",65,RoyMMotors,17151,591,https://bringatrailer.com/listing/1985-chevrol...